body{margin:0px;}
/* nav樣式設定 */
nav{display:flex;}
nav>.logo{
    flex:auto;
    background-color:#ffcccc;
}
nav>.menu{
    flex:auto;/* 盡量把容器空間填滿,有彈性 */
    background-color:#ccccff;
}
nav>.user{
    flex:auto;
    background-color:#ccffcc;
}
/* main樣式設定 */
main{ /* 容器 */
    display:flex;flex-wrap:wrap;
    justify-content:center;
    align-items:stretch;  /* 延展方格 */
    background-color:#cccccc;
}
main>.item{ /* 項目 */
    flex:none;width:270px;margin:10px; 
    background-color:#ffcccc;
}
@media (max-width:1200px){
    main>.item{width:45%;}
}
@media (max-width:500px){
    main>.item{width:90%;}
}